header{
    background: url(../images/header-img.jpg);
    height: 45vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 2.1rem;
    box-shadow: $headerShadow;
    z-index: 100;
    position: relative;
    .header__nav{
        position: fixed;
        width: 100vw;
        &-logo{
            background: $lightColor;
            display: flex;
            justify-content: space-between;
            padding: 0.5rem 1rem;
            box-shadow: $headerShadow;
            #logo{
                background-image: url(../icons/purple-logo.svg);
                background-repeat: no-repeat;
                background-size: 100%;
                background-position: center;
                height: 7vh;
                width: 5rem;
                padding: 0;
            }
            #logo:hover{
                background-image: url(../icons/black-logo.svg);
            }
            .hamburger-menu{
                z-index: 200;
                width: 40px;
                height: 40px;
                border: none;
                display: flex;
                background: none;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                span{
                    width: 37px;
                    height: 4px;
                    margin-bottom: 5px;
                    background: $mediumColor;
                    border-radius: 3px;
                    z-index: 1000;
                }
            }
            .hamburger-menu:hover span {
                background-color: $darkColor
            }
        }
        .header__nav-menu{
            display: none;
        }
        .show{
            display: flex;
            flex-direction: column;
            background: $lightColor;
            font-family: $bodyFont;
            font-size: 1.2em;
            padding: 0.5rem 1rem;
            position: absolute;
            z-index: 1000;
            width: 100vw;
            a{
                padding: 0.5rem 0;
                color: $mediumColor;
            }
            a:hover{
                color: $darkColor;
            }
        }
    }
    .header__content-container{
        padding-top: 5rem;
        padding-left: 1rem;
        #mirtaGellert{
            font-family: $titleFont;
            color: $mediumColor;
            font-size: 2.3em;
        }
        h2{
            font-family: $bodyFont;
            color: $mediumColor;
            font-size: 1rem;
            margin-bottom: 1.5rem;
        }
        #buttonConsulta{
            font-family: $buttonFont;
            color: $lightColor;
            background-color: $mediumColor;
            width: auto;
            padding: 0.6rem;
            border-radius: 8px;
            margin-top: 1rem;
        }
    }
}

#header__info{
    background-image: none;
    box-shadow: none;
    height: auto;
    .header__nav{
        &-menu{
            a{
                text-decoration: none;
            }
        }
    }
}