//colors
$lightColor: #fff;
$mediumColor: #805D93;
$darkColor: #141414;
$cardColor: #F9F4F5;
//shadows
$headerShadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
$cardShadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
//fonts
$titleFont: 'Bree Serif', serif;
$bodyFont: 'Rubik', sans-serif;
$buttonFont: 'Source Sans Pro', sans-serif;